$dark: #31352B;
$orange-900: #FF6838;
$darkBlue-900:#363853;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$white: #FFFFFF;
$orange-200: #FFF2ED;
$orange-500: #FF7A50;
$black: #000000;
$dark-opacity: #31352b80;
$darkBlue-opacity: #36385380;


%rubik-300{
  font-family: 'Rubik Light';
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik Regular';
  font-weight: 400;
}

%rubik-400italic {
  font-family: 'Rubik Italic';
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik Medium';
  font-weight: 500;
}

%rubik-500italic {
  font-family: 'Rubik MediumItalic';
  font-weight: 400;
  font-style: italic;
}



