$dark: #31352B;

$darkBlue-900:#363853;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$white: #FFFFFF;
$orange-200: #FFF2ED;
$orange-300: #FFAE94;
$orange-500: #FF7A50;
$orange-500-opacity: #ff7a50b3;
$orange-900: #FF6838;
$black: #000000;
$dark-opacity: #31352b80;
$darkBlue-opacity: #36385380;





