@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';
@import 'components/header';
@import 'components/button';
@import 'components/slider';
@import 'components/footer';


.hero {
  &__content {
   background-size: contain;
   background-position: top right;
   background-repeat: no-repeat;
   height: calc(100vh - 165px);
   display: flex;
   flex-direction: column;
   justify-content: center;
  }

  &__top {
     width: 42%;
  }

  &__title {
    font-size: 66px;
    line-height: 1.3;
    color: $darkBlue-900;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    display: block;
    color: $orange-900;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    align-items: center;


    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    color: $darkBlue-900;
    font-size: 20px;
    line-height: 1.5;
    transition: all 0.3s;

    &:hover {
      color: $orange-900;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $orange-900;
      border-radius: 5px;
      text-decoration: none;
    }

    &:active {
      text-shadow: 2px 2px 5px $dark-opacity
    }
  }
}


.popular {
  padding: 120px 0;
  text-align: center;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 45px;
  }

  &__box {
    display: flex;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px $silver-200;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1.3;
    padding: 22px 32px 22px 86px;
    color: $darkBlue-900;
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: 21% 60%;
    font-weight: 400;
    transition: all 0.3s;


    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px $orange-900;
      border-radius: 5px;
      filter: invert(58%) sepia(65%) saturate(3585%) hue-rotate(335deg) brightness(99%) contrast(104%);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $orange-900;
      border-radius: 5px;
    }

    &:active {
      background-color: $white;
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
      border-radius: 5px;
    }

    &:focus-visible {
      background-color: $orange-900;
      border-radius: 5px;
      color: $white;
    }
    &--asian {
      background-position: 15% 60%;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 55px;
  }


  &__link {
    text-decoration: underline;
    color: $darkBlue-900;
    font-size: 20px;
    line-height: 1.5;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      color: $orange-900;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $orange-900;
      border-radius: 5px;
    }

    &:active {
      text-decoration: none;
      text-shadow: 2px 2px 5px $darkBlue-opacity;
    }
  }
}

.article-product {
  background-color: $white;
  box-shadow: 0px 0px 0px 1px $silver-200;
  border-radius: 5px;
  text-align: center;
  padding: 13px 10px 0px 10px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 0px 0px 1px $orange-900;
    border-radius: 5px;
  }

  &__img {
    margin-bottom: 11px;
    object-fit: cover;
  }

  &__title {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 11px;
    min-height: 2.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__price {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: 500;
    display: block;
  }
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1030px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  height: calc(100vh - 240px);
  padding: 120px 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    text-align: left;
    width: 45%;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 0px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 64px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    width: 34%;
  }
}

.restaurants {
  text-align: center;
  padding: 120px 0;

  &__title {
    margin-bottom: 41px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    text-align: left;
  }
}

.article-restaurant {
  background-color: $white;

  &__img {
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    height: 300px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/icons/timer.svg');
    background-position: 6% 12%;
    background-repeat: no-repeat;
    background-size: 6%;
    padding: 0 20px 20px 49px;
  }

  &__timing {
    color: $dark-opacity;
    font-size: 18px;
    line-height: 1.67;
  }

  &__btn {
    padding: 4px 11px;
    border-radius: 20px;
    width: 79px;
    height: 33px;
    fill: $white;
    transition: all 0.3s;

    &:hover {
      fill: $orange-900;
      padding: 4px 0px 0px 28px;
      background-position: 6% 12%;
      border-radius: 20px;
    }
     &:focus {
       background-color: $orange-200;
       box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     }
      &:active {
        background-color: #FFF2ED;
        fill: $orange-900;
      }
  }
}

.reviews {
  text-align: center;
  padding-bottom: 120px;

  &__container {
    max-width: 990px;
    margin: 0 auto; 
  }
  &__title {
    margin-bottom: 30px;
  }
}

.slider-reviews {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    border-radius: 50%;
  }

  &__content {
    text-align: left;
    position: relative;
    padding-left: 20px;
  }
}

.blockquote {
  padding: 44px 62px;
  margin-bottom: 23px;

  &__txt {
    font-style: italic;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 30px;
    position: relative;
  
    &::before {
      content: '';
      background-image: url('../images/icons/parenthesis1.svg');
      position: absolute;
      top: 0;
      left: -7%;
      width: 24px;
      height: 19px;
    }

    &::after {
      content: '';
      background-image: url('../images/icons/parenthesis2.svg');
      position: absolute;
      bottom: 16%;
      right: -9%;
      width: 24px;
      height: 19px;
    }
  }

  &__author {
    display: block;
    color: $orange-900;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 15px;
  }

  &__profession {
    display: block;
    font-size: 14px;
    line-height: 1.3;
  }
}

.application {
  padding: 0 0 120px;

  &__content {
    background-position: right;
    background-size: 49%;
    background-repeat: no-repeat;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__inner {
    width: 50%;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__txt {
    width: 85%;
    margin-bottom: 30px;
  }

  &__box {
    display: flex;
   
  }

  &__link {
    margin-right: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    border-radius: 5px;
  }

  &__link--apple {
    padding: 12px 66px;
  }

  &__link--google {
    padding: 12px 70px;
  }
}






@import 'media';