.slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;

  li {
    padding: 0 7px;

    button {
      width: 15px;
      height: 15px;
      background-color: $gray;
      border-radius: 50%;
      font-size: 0;
      padding: 0;
    }

    &.slick-active {
      button {
        background-color: $orange-900;
        transition: all 0.3s;

        &:hover {
          background-color: $orange-200;
          box-shadow: 0px 0px 0px 2px $orange-500-opacity;
        }

        &:focus {
          box-shadow: 0px 0px 0px 2px $orange-900;
        }

        &:active {
          background-color: $orange-300;
        }
      }
    }
  }
}

.slick-next,
.slick-prev {
  position: absolute;
  bottom: 0;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid $gray;
  width: 34px;
  height: 34px;
  transition: all 0.3s;

  &:hover {
    background-color: $orange-200;
    border: 3px solid $orange-300;
    fill: $orange-300;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px #ff6838b3;
  }

  &:active {
    background-color: $orange-200;
    border: 3px solid transparent;
    fill: $orange-500;
  }
}

.slick-prev {
  left: 38%;

}

.slick-next {
  right: 38%;
 
}